// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.path {
  float :right;
}

div.top {
  float :left;
}

div.sum {
  float :right;
}

div.buy {
  float :left;
}

div.sub {
 text-align: center;
}