// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {
  text-align:center;
}

h1 {
  text-align:center;
}

div.ganregroup{
  border: 2px solid #000000;
	width: 150px;
	height: 300px;
}

h5 {
  border-bottom: 2px solid #000000;
}

div.path {
  float :right;
}