 <div class="container">
 <div class="row">
  <div class="col-md-2">
   <h4>ジャンル検索</h4>
    <% @genres.each do |genre| %>
    <%= genre.name %></br>
    <% end %>
   </div>
  </div>
   <div class="row">
  <div class="col-md-10">
 <%= attachment_image_tag @product, :image, format: 'jpeg',size: "300x200" %>
 <%= @product.name %>
 <%= @product.introduction %>

 </div>
 </div>
 </div>